@charset "UTF-8";
/* CSS Document */



  #map { position:absolute; top:0; bottom:0; width:100%; }

body {
	font-family: Myriad pro, Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #eee;
	margin: 0;
	padding: 0;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
#left_nav {
	width: 220px;
	background-color: #fff;
	padding: 20px;
	margin: 20px 60px;
	overflow: auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	position: absolute;
	z-index: 10000;
	background: rgba(255, 255,255,0.8);
	left: -19px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#left_nav li {
	list-style-type: none;
	padding: 0;
	display: block;
}
#left_nav ul {
	float: left;
	padding: 0;
	margin: 0;
	display: block;
	overflow: auto;
}
#left_nav div {
	display: block;
	overflow: auto;
}
h2 {
	font-size: 18px;
	padding: 0;
	margin: 20px 0 5px 0;
	color: #3f3f3f;
}
h3 {
	font-size: 15px;
	color: #666;
	text-transform: uppercase;
	padding: 0;
	margin: 15px 0 0 0;
}

ul.house li span {
	display: inline;
	padding: 2px 5px;	
	
	}

ul.house li span.active, ul.house li:hover
{
	
color: #fff;	
	}

ul.house li.aasha span.active, ul.house li.aasha:hover
{
	background-color: #ff6600;
}

ul.house li.elpida span.active, ul.house li.elpida:hover
{
	background-color: #dea738;
}

ul.house li.fata span.active, ul.house li.fata:hover
{
	background-color: #31607e;
}


ul.house li.gidae span.active, ul.house li.gidae:hover
{
	background-color: #92ac4a;
}


ul.house li.hoop span.active, ul.house li.hoop:hover
{
	background-color: #0938e0;
}




ul.house li.manaolana span.active, ul.house li.manaolana:hover
{
	background-color: #610127;
}

ul.house li.matumaini span.active, ul.house li.matumaini:hover
{
	background-color: #7e0b80;
}

ul.house li.nadam span.active, ul.house li.nadam:hover
{
	background-color: #b55891;
	
}
ul.house li.nadezhda span.active, ul.house li.nadezhda:hover
{
	background-color: #b55891;
}
ul.house li.nadzieja span.active, ul.house li.nadzieja:hover
{
	background-color: #b55891;
}

ul.house li.nozomi span.active, ul.house li.nozomi:hover
{
	background-color: #9acefe;
}



ul.house li.pagasa span.active, ul.house li.pagasa:hover
{
	background-color: #5cb1ae;
}

ul.house li.toivoa span.active, ul.house li.toivoa:hover
{
	background-color: #781100;
}



ul.house li.ummak span.active, ul.house li.ummak:hover
{
	background-color: #2f3c71;
}

ul.house li.ummeed span.active, ul.house li.ummeed:hover
{
	background-color: #e0523c;
}



ul.house li.xiwang span.active, ul.house li.xiwang:hover
{
	background-color: #b22c11;
}

ul.house li.aile span.active, ul.house li.aile:hover
{
	background-color: #ff6600;
}



ul.house li.gajok span.active, ul.house li.gajok:hover
{
	background-color: #199d5c;
}

ul.house li.gesin span.active, ul.house li.gesin:hover
{
	background-color: #b8b830;
}

ul.house li.lyali span.active, ul.house li.lyali:hover
{
	background-color: #1a3e58;
}

ul.house li.khandaan
 span.active, ul.house li.khandaan
:hover
{
	background-color: #5cb1ae;
}




ul.house li.parivar span.active, ul.house li.parivar:hover
{
	background-color: #4b5320;
}


ul.house li.semejstvo span.active, ul.house li.semejstvo:hover
{
	background-color: #5e52a4;
}


ul.house li.jiating span.active, ul.house li.jiating:hover
{
	background-color: #781100;
}



ul.house li.kazoku span.active, ul.house li.kazoku:hover
{
	background-color: #d374a5;
}




ul.house li.ohana span.active, ul.house li.ohana:hover
{
	background-color: #0c4f26;
}

ul.house li.oikogeneia span.active, ul.house li.oikogeneia:hover
{
	background-color: #9bca3e;
}


ul.house li.pamilya span.active, ul.house li.pamilya:hover
{
	background-color: #7e0b80;
}


ul.house li.perhe span.active, ul.house li.perhe:hover
{
	background-color: #b9a88c;
}

ul.house li.porodica span.active, ul.house li.porodica:hover
{
	background-color: #b9a88c;
}


ul.house li.rodzina span.active, ul.house li.rodzina:hover
{
	background-color: #e0523c;
}



ul.house li.semja span.active, ul.house li.semja:hover
{
	background-color: #5ff82e;
}


ul.house li.semejestvo span.active, ul.house li.semejestvo:hover
{
	background-color: #5e52a4;
}



div.submit input {
	font-weight: bold;
	padding: 5px 10px;
	margin: 10px;
}
.go {
	font-weight: bold;
	padding: 2px;
	margin: 10px;
}
.filter_by {
	overflow: auto;
	height: 400px;
}

.leaflet-popup img {
    width: 100% !important; 
}
